<form
        data-request="{{ __SELF__ }}::onSend"
        data-request-success="ebussola_feedback_processForm(data)"
        data-request-error="ebussola_feedback_processError(jqXHR.responseJSON)">

    <fieldset>
        <label for="feedback-name">Name</label>
        <input type="text" name="feedback[name]" id="feedback-name" />
    </fieldset>
    <fieldset>
        <label for="feedback-email">Email</label>
        <input type="text" name="feedback[email]" id="feedback-email" />
    </fieldset>
    <fieldset>
        <label for="feedback-message">Message</label>
        <textarea name="feedback[message]" id="feedback-message"></textarea>
    </fieldset>

    <input type="submit" />

</form>

<script>
    function ebussola_feedback_processForm(data) {
        if (data.javascriptAlert != undefined) {
            alert(data.javascriptAlert);
        }
        if (data.customJavascript != undefined) {
            eval(data.customJavascript);
        }
    }

    function ebussola_feedback_processError(data) {
        data = JSON.parse(data.result);

        if (data.javascriptAlert != undefined) {
            $.each(data.javascriptAlert, function(input, messages) {
                messages.map(function(message) {
                    alert(message);
                });
            });
        }

        if (data.customJavascript != undefined) {
            var messages = data.customJavascript.messages;
            eval(data.customJavascript.script);
        }
    }
</script>